/*
  Stylesheet for formatting all Form Elements. May be eventually Migrated into
  the main stylesheet.
*/

/* Default Fieldset Format */
fieldset {
  border: 1px solid #aaa;
  margin: 0px;
  padding: 1em;
}

fieldset legend {
  background-color: black;
  color: white;
  font-family: title;
  font-size: 25px;
  padding: 0.5rem;
  text-align: center;
  margin: 0px;
  width: auto;
  /*display: contents;*/
}

/* END Default Fieldset Format */

/* For Things relating to getting info, or small forms */
/* Note that the HTML must be styled in a specific way for this to work */
form.info {
  border: 0px;
  padding: 0px;
  margin: 1em 0px 1em 0px;
}

form.info div.head {
  background-color: black;
  color: white;
  margin: 0px;
  padding: 0.5rem;
  border: 0px;
}

form.info div.body {
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-top: 0px;
  padding: 1em;
}

form.info div.head h1 {
  font-family: bold;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

form.info div.body fieldset {
  border: 0px;
  padding: 0px;
  margin: 0.5rem 0px;
  /*border-left: 5px solid rgba(0,0,0,0);*/
}

form.info div.body fieldset.error {
  color: black;
  border-left: 5px solid #FF230F;
}

form.info div.body p {
  margin: 0px 0px 1em 0px;
  color: #333;
}

form.info label {
  font-family: semibold;
  color: #333;
}
/* END Small Forms */

/* General Element Styling */


label {
  
}

input {
  /*width: 100%;*/
}

input[type="text"] {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  font-family: light;
}


/* END General Element Styling */
